#!/bin/sh
exec 2>& 1

exec chpst -P -u <%= @user %> -U <%= @user %> \
  /usr/bin/env \
    PATH=/usr/local/bin:/usr/bin:/bin \
    HOME=<%= @home %> \
    BUNDLE_GEMFILE=<%= @runner_dir %>/Gemfile \
    <%= @runner_dir %>/bin/runner -C <%= @runner_dir %>
